@import "@/styles/variables.scss";
.thumbnails_container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 27px;
  justify-content: center;

  .thumbnails {
    color: $light-gray;
    display: flex;
    flex-direction: row;
    font-family: $font-accent;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2.362px;
    line-height: normal;
    text-transform: uppercase;

    &.active {
      color: $white;
      display: flex;
      flex-direction: column;
      padding-bottom: 8px;
      position: relative;

      &::after {
        content: "";
        background-color: $white;
        display: block;
        height: 3px;
        margin-top: 8px;
        width: 100%;
      }
    }
  }
}
