$font-primary: "Bellefair", sans-serif;
$font-accent: "Barlow Condensed", sans-serif;
$font-body: "Barlow", serif;

$heading-one: 150px;
$heading-two: 100px;
$heading-three: 56px;
$heading-four: 32px;
$heading-five: 28px;
$heading-five-letter-spacing: 4.72px;

$subheading-one: 28px;
$subheading-two: 14px;
$subheading-two-letter-spacing: 2.35px;

$nav-text: 16px;
$nav-text-letter-spacing: 2.7px;

$body-text: 18px;
$body-text-line-height: 32px;

$dark-blue: #0b0d17;
$darker-blue: #383b4b;
$light-gray: #d0d6f9;
$white: #ffffff;
